@import "tailwindcss";

:root {
  --font-sans: var(--font-nunito-sans);
  --background: #F9F9F9;
  --main-text: #151515;
  --primary: #571244;
  --Secondary: #EF4353;
  --subdued: #696969;
  --Purple: #2C0922;
  --footerPurple: #11040E;
  --Purple40: #8F6182;
  --pink: #EF435333;
  --Blue: #1671D9;
  --lineBorder: #DDD0DA;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: var(--font-sans);
}

.font-nunito{
  font-family: var(--font-nunito);
}
